<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chan Room</h1>
    <button id="startchat" data-roomid="<%= id %>">Start Chat</button>
    <input type="text" id="username">
    <input type="text" id="newmsg" placeholder="Enter your message" />
    <button id="btn">Send</button>
    <ul id="msglist"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var socket = io();
        let startchat = document.getElementById('startchat');

        let btn = document.getElementById('btn');
        let msglist = document.getElementById('msglist');
        let inputmsg = document.getElementById('newmsg');

        btn.onclick = function() {
            console.log('clicked')
            socket.emit('msg_send', {msg:inputmsg.value, roomid:startchat.getAttribute('data-roomid')});
        
            console.log(inputmsg.value);
        }
        startchat.onclick = function exec() {
            socket.emit('join_room', {
                roomid: startchat.getAttribute('data-roomid'),
                username: document.getElementById('username').value
            });
        }

        socket.on('msg_rcvd', function(data) {
            let li = document.createElement('li');
            li.innerText = data.msg;
            msglist.appendChild(li);
        });



    </script>
</body>
</html>